@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Bold.eot");
  src: url("../fonts/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro-Bold.ttf") format("truetype"), url("../fonts/SourceSansPro-Bold.svg#SourceSansPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Black.eot");
  src: url("../fonts/SourceSansPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Black.woff2") format("woff2"), url("../fonts/SourceSansPro-Black.woff") format("woff"), url("../fonts/SourceSansPro-Black.ttf") format("truetype"), url("../fonts/SourceSansPro-Black.svg#SourceSansPro-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Regular.eot");
  src: url("../fonts/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype"), url("../fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-SemiBold.eot");
  src: url("../fonts/SourceSansPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-SemiBold.woff2") format("woff2"), url("../fonts/SourceSansPro-SemiBold.woff") format("woff"), url("../fonts/SourceSansPro-SemiBold.ttf") format("truetype"), url("../fonts/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

.btn, .btn:focus {
  outline: none;
  box-shadow: none; }

.form-control:focus {
  border-color: #0054B8;
  box-shadow: none !important; }

.btn-primary {
  background: #0054B8;
  border-color: #0054B8; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #F4811F;
    border-color: #F4811F; }

.btn-outline-primary {
  color: #0054B8;
  border-color: #0054B8; }
  .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    background: #F4811F;
    border-color: #F4811F; }

body {
  font-size: 14px;
  overflow-x: hidden;
  font-family: "Source Sans Pro", sans;
  font-weight: 300;
  color: #0054B8; }
  body a {
    text-decoration: none;
    color: #0054B8; }
    body a:hover {
      color: #F4811F;
      text-decoration: none; }

header {
  background: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.231);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }
  header .container {
    height: 70px; }

.left-column {
  background: #0054B8;
  height: 100vh;
  position: relative;
  padding: 60px; }
  .left-column .rainbow {
    position: absolute;
    top: 68px;
    left: 50%;
    width: 384px;
    margin-left: -192px; }
  .left-column .wrapper-left .title {
    color: white;
    font-weight: 900;
    line-height: 1; }
    .left-column .wrapper-left .title.txt-1 {
      font-size: 45px; }
    .left-column .wrapper-left .title.txt-2 {
      font-size: 84px; }
    .left-column .wrapper-left .title.txt-3 {
      font-size: 45px; }

.right-column {
  background: white;
  background-size: cover;
  height: 100vh;
  padding: 60px; }
  .right-column .main-title {
    color: #0054B8;
    font-size: 45px;
    font-weight: bold;
    line-height: 58px; }
  .right-column .subtitle {
    color: #58585A;
    font-size: 24px;
    margin: 10px 0 20px; }
  .right-column .actions button {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px; }
  .right-column .actions .or {
    position: relative;
    margin: 15px 0;
    text-align: center; }
    .right-column .actions .or:before {
      background: #D9D9D9;
      content: "";
      position: absolute;
      height: 1px;
      width: 240px;
      left: 50%;
      margin-left: -120px;
      top: 11px;
      z-index: 0; }
    .right-column .actions .or span {
      position: relative;
      z-index: 0;
      background: white;
      padding: 10px; }

footer {
  background: #0054B8;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }
  footer .copyright {
    color: white;
    height: 60px;
    font-size: 20px; }

/* Telefones em paisagem a tablet em retrato */
/* Tablet em retrato a paisagem e desktop */
/* (1280x720) Galaxy Note 2, WXGA */
/* (1280x1024) SXGA Display */
@media screen and (max-width: 1280px) {
  /* insert styles here */ }

/* (1440x900) WXGA+ Display */
@media screen and (max-width: 1440px) {
  /* insert styles here */ }

/* (1680x1050) WSXGA+ Display */
@media screen and (max-width: 1680px) {
  /* insert styles here */ }

/* (1920x1080) Full HD Display */
/* (1600x900) HD+ Display */
/* (1366x768) WXGA Display */

/*# sourceMappingURL=../maps/style.css.map */
