.btn, .btn:focus{
    outline: none;
    box-shadow: none;
}
.form-control {
    &:focus{
        border-color: $primary;
        box-shadow: none !important;
    }
}
.btn{
    &-primary{
        background: $primary;
        border-color: $primary;
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active {
        }
        &:hover, &:focus, &:active{
            background: $tertiary;
            border-color: $tertiary;
        }
    }
    &-outline-primary{
        color: $primary;
        border-color: $primary;
        &:hover, &:focus, &:active{
            background: $tertiary;
            border-color: $tertiary;
        }
    }
}