$font-default: 	        'VAG Rounded Std', sans;
$font-secondary:        'Eds Market Bold Script', sans;

$primary: 		        #2F1305;
$secondary:             #BD0C20;
$tertiary:              #F17400;
$dark-tertiary:         #f15900;

$header:                #FFECDB;

$gray:                  #8B8B8B;
$color-menu1:           #5e3c32;
$color-menu2:           #2f1305;

$zap-color:             #009688;
$zap-color-h:           #16ab94;