$font-default: 	      'Source Sans Pro', sans;

$primary: 		        #0054B8;
$secondary:             #EF5B22;
$tertiary:              #F4811F;
$quaternary:            #FBB713;
$salmon:                #E89782;
$main-green:            #71BA3C;

$soft-primary:          #d9e6f4;

$alert:                 #f14300;

$border:                #E0E0E0;
$dots:                  #D9D9D9;

$gndi-gray:             #58585A;
$bg-gray:               #F2F5F9;
$bg-footer:             #F6F4F1;